.footer-container {
  width: 100%;
  height: 60px;
  background-color: #1f2937;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
}


/* .footer {
  width: 100%;
  padding: 15px;
  text-align: center;
  background: #222;
  color: #fff;
  margin-top: 40px;
} */
