.navbar-container {
  width: 100%;
  height: 64px;
  background-color: #1f2937;
  color: white;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-title {
  font-size: 20px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}


/* .navbar {
  width: 100%;
  padding: 15px 40px;
  background: rgba(20, 20, 20, 0.85);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-logo span {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.nav-links a:hover {
  color: #ff6ac1; 
  text-shadow: 0 0 10px #ff6ac1;
} */
