.sidebar-container {
  width: 240px;
  height: 100vh;
  position: fixed;
  top: 70px; /* debajo del navbar */
  left: 0;
  background-color: #111827; /* gris oscuro aesthetic */
  color: white;
  padding: 25px;
  border-right: 1px solid #222;
}

.sidebar-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-container li {
  margin-bottom: 25px;
  font-size: 17px;
  display: flex;
  align-items: center;
}

.sidebar-link {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  transition: 0.3s ease;
}

.sidebar-link:hover {
  color: #ffcc00;
  margin-left: 14px;
}

/* .sidebar-container {
  width: 240px;
  height: 100vh;
  position: fixed;
  top: 70px; 
  left: 0;
  background-color: #111827;
  color: white;
  padding: 20px;
}

.sidebar-container ul {
  list-style: none;
  padding: 0;
}

.sidebar-container li {
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
} */




/* .sidebar {
  width: 220px;
  background: #111;
  color: #fff;
  height: 100vh;
  padding: 20px 15px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  margin-bottom: 20px;
  text-align: center;
}

.sidebar-header h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffde59; 
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin-bottom: 18px;
}

.sidebar-menu a {
  color: #ddd;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.2s;
}

.sidebar-menu a:hover {
  color: #ffde59;
  padding-left: 5px;
} */
